.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.App-header {
  background-color: #20232a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 600px;
  box-sizing: border-box;
}

.data-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  width: 100%;
}

.data-item {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.data-label {
  font-weight: bold;
}

.data-value {
  font-weight: normal;
  color: #61dafb;
  margin-left: 10px;
}

@media (max-width: 600px) {
  .App-header {
    padding: 15px;
  }

  .data-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .data-value {
    margin-left: 0;
  }
}
